* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", cursive;
}

body {
  background-image: url(img/fon.jpeg);
}

.container {
  display: flex;
}

/* Стилі для заголовка */

.heading {
  font-size: 40px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

.heading ul {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  width: 100%;
}

.heading li {
  display: inline-block;
  list-style: none;
  color: rgb(145, 145, 145);
}

/* Стилі для посилань в категоріях */

.categories_link {
  max-width: 325px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
  cursor: pointer;
}

.categories_link:hover {
  background-color: #000;
  color: #fff;
  transition: background-color 0.4s ease;
}

/* Стилі для продуктів */

.products {
  width: 400px;
  margin-left: 10vw;
}

.products p {
  font-size: 30px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  padding: 5px;
}

.products p:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}


/* Стилі для інформації про продукт */

.product-info {
  width: 400px;
  margin-left: 10vw;
}

.product-name {
  font-size: 35px;
  background-color: #fff;
  padding: 5px;
}

.buy-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.buy-button:hover {
  background-color: darkgreen;
  transition: background-color 0.3s ease;
}
